# Assignment 1

1.Convert x=5 into a floating-point number

In [46]:
x=float(5)
print(x)

5.0

2. Remove the illegal characters in the variable name: --2022&damg-spring_2 = "Python"

In [4]:
#--2022&damg-spring_2 = "Python"
damgspring_2 = "python"
print(damgspring_2)

python

3. A string: I’m a student in Northeastern University

In [47]:
#1. Use count() method to count how many times “e” occurs in this string.
string_name = "I’m a student in Northeastern University."
a=string_name.count("e")
print(a)

4

In [48]:
#2. Use index() method to give the index of “u”.
string_name = "I’m a student in Northeastern University."
a=string_name.index("u")
print(a)

8

In [49]:
#3. Use the negative indexes to slice the string and get the sub-string “sity”.
string_name = "I’m a student in Northeastern University."
print(string_name[-5:-1])

sity

In [50]:
#4. Get the result characters from index 2 to index 4.
string_name = "I’m a student in Northeastern University."
print(string_name[2:5:1])

m a

In [51]:
#5. Replace the character “N” with a “n”, “U” with “u”.
string_name = "I’m a student in Northeastern University."
a = string_name.replace("N", "n")
b = a.replace("U", "u")
print(b)

I’m a student in northeastern university.

In [52]:
#6. Change the string to upper case characters.
string_name = "I’m a student in Northeastern University."
x=string_name.upper()
print(x)

I’M A STUDENT IN NORTHEASTERN UNIVERSITY.

4. Return the string without any whitespace at the beginning or the end.

In [53]:
txt = "     Hello World      "
print(txt.strip())

Hello World

5. Insert the correct syntax to add a placeholder for the age parameter.

In [55]:
name = "John"
age = 26
txt= "Hello! My name is {}, and I am {}."
print(txt.format(name,age))

Hello! My name is John, and I am 26.

6. Please fill in items in the blanks to get the result as below:

In [59]:
myorder = "I have a {0}. It has {3} {2} and {4}{1} memory."
print(myorder.format("laptop", "GB", "CPUs", 8, 16))

I have a laptop. It has 8 CPUs and 16GB memory.

7. The following code is based on the old version of Python string formatting.

In [60]:
name1 = "Smith"
name2 = "Mary"
money = 84.6526666

string_name="Hello {} {}. Your current balance is ${:.2f}."
print(string_name.format(name1,name2,money))

Hello Smith Mary. Your current balance is $84.65.

8. Write a command to make the first letter in each word upper case.
#A method to accelerate computation for machine learning.

In [61]:
string_name = "A method to accelerate computation for machine learning."
print(string_name.title())

A Method To Accelerate Computation For Machine Learning.

9. Please remove all other characters and keep only “great”.
Astr = ",,,oohhmy.....great....ahhh……"

In [62]:
txt = ",,,oohhmy.....great....ahhh...."
x = txt.strip(",.ohmya")
print(x)

great

10. I am standing in the ****center****.

In [3]:
example = "I am standing in the ****{test}****".format(test="center")
print (example)

I am standing in the ****center****

11. Please use the variable num1 and num2 to print the output as below:

In [7]:
num1 = 3800
num2 = 1500000
example = "My house is {:,} square feet and values ${:,}".format(num1, num2)
print (example)

My house is 3,800 square feet and values $1,500,000

12. fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

(1) Use a command to print out: ["cherry", "orange", "kiwi"]

(2) Use a command to print out: ["banana", "orange", "melon"]

(3) Remove "banana" from this list.

(4) Insert "lemon" as the second item in the list

In [23]:
#1
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[2:5]

['cherry', 'orange', 'kiwi']

In [26]:
#4
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] 
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [27]:
#2
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1:6:2]

['banana', 'orange', 'melon']

In [28]:
#3
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] 
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

13. Please sort this list in ascending order of their absolute values. alist = [0, -3, 8, -10, 9, -6, 7, -8, 4, 11]

In [30]:
alist = [0, -3, 8, -10, 9, -6, 7, -8, 4, 11]
alist.sort()
print(alist)

[-10, -8, -6, -3, 0, 4, 7, 8, 9, 11]

14. A tuple
fruits = ("apple", "banana", "cherry")

(1) Insert "kiwi" as the second item in the list

(2) Add “lemon” to the end of this tuple.

(3) Print out as:
      apple
      kiwi
      [‘banana’, 'cherry', 'lemon']

In [37]:
#1
fruits = ("apple", "banana", "cherry")
fruits = fruits[:1] + ('kiwi',) + fruits[1:]
print(fruits)

('apple', 'kiwi', 'banana', 'cherry')

In [39]:
#2
fruits = ("apple", "banana", "cherry")
fruits = fruits + ('lemon',)
print(fruits)

('apple', 'banana', 'cherry', 'lemon')

In [43]:
#3
fruits = ("apple", "banana", "cherry")
fruits1 = fruits[:1] + ('Kiwi',) + fruits[1:]
fruits2 = fruits1 + ('lemon',)

(a, b, *c) = fruits2
print(a)
print(b)
print(c)

apple
Kiwi
['banana', 'cherry', 'lemon']

15. fruits = ["apple", "kiwi", "melon"]
nums = [2, 5, 3]
Please combine these 2 lists into a list of tuples:

In [2]:
fruits = ["apple", "kiwi", "melon"]
nums = [2, 5, 3]
[(fruits[i], nums[i]) for i in range(0, len(fruits))]

[('apple', 2), ('kiwi', 5), ('melon', 3)]

16. Remove duplicate elements from a List: mylist=[1,3,1,6,9,3,7,8,9,2,8,5]

In [42]:
mylist = [1,3,1,6,9,3,7,8,9,2,8,5]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[1, 3, 6, 9, 7, 8, 2, 5]

17. Perform different set operations: 
M = {0, 2, 4, 6, 8, 10}

N = {1, 2, 3, 4, 5, 7, 8, 9}

print("Union of M and N is",     )

print("Intersection of M and N is",       )

print("Difference of M and N is",        )

print("Symmetric difference of M and N is",           )

In [45]:
M = {0, 2, 4, 6, 8, 10}

N = {1, 2, 3, 4, 5, 7, 8, 9}

# print("Union of M and N is",)
U=M.union(N)

#Intersection of M and N is
I=M.intersection(N)

#Difference of M and N is
D=M.difference(N)

#Symmetric difference of M and N is
SD=M.symmetric_difference(N)

print("Union of sets:", U)
print("Intersection of sets:", I)
print("Difference of sets:", D)
print("Symmetric Difference of sets:", SD)

Union of sets: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of sets: {8, 2, 4}
Difference of sets: {0, 10, 6}
Symmetric Difference of sets: {0, 1, 3, 5, 6, 7, 9, 10}