# HomeWork 2

1. fruits = {"apple", "banana", "cherry", "orange"}
(1) add "kiwi" to the fruits

(2) Use the correct method to add multiple items more_fruits to the fruits set.

        more_fruits = ["orange", "mango", "grapes"]

(3) remove "banana" from the fruits set.

In [1]:
# 1)
fruits={"apple","banana","cherry","orange"}
fruits.add("kiwi")
print(fruits)

# 2)
more_fruits =["orange","mango","grapes"]
fruits.update(more_fruits)
print(fruits)

# 3)
fruits.remove("banana")
print(fruits)

{'orange', 'kiwi', 'cherry', 'banana', 'apple'}
{'orange', 'kiwi', 'mango', 'grapes', 'cherry', 'banana', 'apple'}
{'orange', 'kiwi', 'mango', 'grapes', 'cherry', 'apple'}

2. car = {"brand": "Ford", "model": "Explore", "year": 2006}
(1) Use a method to print the value of the "model".

(2) Change year from 2006 to 2020

(3) Use a method to remove "model" from this dictionary.

In [2]:
# 1)
car={"brand":"Ford","model":"Explore","year":2006}
print(car.get("model"))

# 2)
car["year"]=2020
print(car)

# 3
car.pop("model")
print(car)

Explore
{'brand': 'Ford', 'model': 'Explore', 'year': 2020}
{'brand': 'Ford', 'year': 2020}

3. Remove the items that are duplicated in two lists and combine into one list.
list_1 = [1, 3, 1, 6, 9]

list_2 = [7, 5, 2, 8]

In [3]:
list_1 = [1, 3, 1, 6, 9]
list_2 = [7, 5, 2, 8]

# L1 = set(list_1)
# L2 = set(list_2)

# in_second_but_not_in_first = L2-L1

# result = list(L1) + list(L2)

result= list(set(list_1) | set(list_2))
print(result)

[1, 2, 3, 5, 6, 7, 8, 9]

4. dt = {'a': 'time', 'b': 'money', 'c': 'health'} 
Use two approaches to iterate over a dictionary and print out as below:
a time
b money
c health

In [7]:
dt = {'a': 'time', 'b': 'money', 'c': 'health'}

# 1)
for key in dt:
    print(key, dt[key])
    
print("second approch!!") 
print("  ") 
# 2)
for key, value in dt.items():
    print(key, value)

a time
b money
c health
second approch!!

a time
b money
c health

5. mylist = [21, 31, 41, 51, 61, 71, 81] 
Use two approaches to access index of a list and print out the list with its index.
Result as below:

1 21 2 31 3 41 4 51 5 61 6 71 7 81

In [10]:
mylist = [21, 31, 41, 51, 61, 71, 81]

# 1)
index = 1
for index in range(len(mylist)):
    value = mylist[index]
    print(index, value)

print("second approch....")

# 2)
for index, val in enumerate(mylist, start=1):
    print(index, val)

0 21
1 31
2 41
3 51
4 61
5 71
6 81
second approch....
1 21
2 31
3 41
4 51
5 61
6 71
7 81

6. Sort alphabetically the words form a string: “Virus surge hits New England despite high vaccination rates”. And print out the sorted words (no uppercase words) one by one. 
astr = "Virus surge hits New England despite high vaccination rates"

In [11]:
astr= 'Virus surge hits New England despite high vaccination rates'
words = astr.split()
words.sort()
for word in words:
    if word[0].islower():
        print (word)

despite
high
hits
rates
surge
vaccination

7. mylist = [[8], [3, 2], [1, 3, 4, 5]]
Use a nested for-loop approach to make it flattened as [8, 3, 2, 1, 3, 4, 5].

In [13]:
mylist=[[8],[3,2],[1,3,4,5]]
flat_list = []
for i in mylist:
    if type(i) is list:
        for item in i:
            flat_list.append(item)
    else:
        flat_list.append(i)
print(flat_list)

[8, 3, 2, 1, 3, 4, 5]

8. Print a multiplication table of 8 and print out results as below: 8 times the number from 1 to 10: 
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [14]:
x=8
y=0
for i in range(1,11):
    z=x*i
    print("8x",i,"=",z)

8x 1 = 8
8x 2 = 16
8x 3 = 24
8x 4 = 32
8x 5 = 40
8x 6 = 48
8x 7 = 56
8x 8 = 64
8x 9 = 72
8x 10 = 80

9. Use a loop to find the Factorial of the number 6.

In [15]:
number=6
factorial = 1
for i in range(1,number + 1):
    factorial = factorial*i
print("The factorial of",number,"is",factorial)

The factorial of 6 is 720

10. Use a while loop to count the number of digits present in the following number. num = 963969123456

In [16]:
num = 963969123456
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 12

11. Define a function to convert Celsius to Fahrenheit and display it.
The formula is: Celsius * 1.8 = Fahrenheit - 32

When celsius=36.5, the output should be:

      36.5 Celsius degree is equal to 97.7 Fahrenheit degree.

In [18]:
def celsius_to_fahr(temp):
    temp_fahr = (temp*1.8) + 32
    return temp_fahr
celsius = float(input('Enter temperature in Celsius: '))
fahr = celsius_to_fahr(celsius)
print(f"{celsius} degree is equal to {fahr} Fahrenheit degree.")

Enter temperature in Celsius: 67
67.0 degree is equal to 152.60000000000002 Fahrenheit degree.

12. Define a function to calculate an area of a triangle according to the following formula:
If a, b and c are three sides of a triangle. Then, the area of a triangle can be calculated as:
s = (a+b+c)/2
area = √(s(s-a)*(s-b)*(s-c))     (here: √ is square root )
Now, we have a=5, b=6,c=7.
Please call this function to calculate the area of this triangle.

In [19]:
def area(a, b, c):
    s = (a + b + c) / 2
    area = float((s * (s - a) * (s - b) * (s - c)) ** 0.5)
    print(area)

area(5, 6, 7)

14.696938456699069

13. Define a function pri_num(lower, upper) to print all prime numbers between lower=900 and upper=1000.

In [23]:
for number in range (900, 1000):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(number % i == 0):
            count = count + 1
            break

    if (count == 0 and number != 1):
        print(" %d" %number, end = '  ')

 907   911   919   929   937   941   947   953   967   971   977   983   991   997